.seccion-video{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    /* color:#A5A5A5 ; */
    color: #081B29;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 24px;
    border-bottom: 4px solid #A5A5A5;
}

.seccion-video img{
    position: absolute;
    right: 32%;
    cursor: pointer;
    width: 70px;
    height: 70px;
}